.item {
    width: 4rem;
    height: 4rem;
    margin-left: 2px;
    background-color: #75a781;
    border-radius: 4px;
}

.activeitem {
    width: 4rem;
    height: 4rem;
    margin-left: 2px;
    background-color: #1d2a20;
    border-radius: 4px;
}